/* !---------------custom css start ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}





/* !---------------nav bar css start ------------------ */

.main_menu ul {
  margin-right: 10px;
  gap: 30px;
}

.main_menu ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #0F294D;
  font-family: "Jost", sans-serif;

}

.buutons {
  display: flex;
  gap: 20px;
}


.buutons a {
  width: 170px;
  height: 50px;
  border: 2px solid #13357B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #13357B;
  font-family: "Jost", sans-serif;
  transition: all linear 0.4s;
  border-radius: 4px;
}

.one: {
  color: #13357B;
}

.one:hover {
  background: #13357B;
  color: #FFF;
}

.two:hover {
  background: #13357B;
  color: #FFF;
}

.main_menu {
  margin-top: 30px;
  /* !---------------nav bar css end ------------------ */

}


/* !---------------nav bar css start ------------------ */
.bannerTextpart h2 {
  font-size: 60px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
  padding-top: 281px;
  margin-bottom: 6px;
}

.bannerTextpart p {
  font-size: 16px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
}




.bannerImage img {
  width: 550px;
  height: 560px;
  border-radius: 20px;
  margin-top: 80px;
}


.dropDownOne select {
  border: none;
}

.dropDownOne select option {
  width: 60px;
  font-size: 15px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;

}

.dropDowntwo select {
  border: none;
}


.dropDowntwo select option {
  width: 60px;
  font-size: 15px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;

}


.dropDownThree select {
  border: none;
}

.dropDownThree select option {
  width: 60px;
  font-size: 15px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;
  border: transparent !important;
  border-radius: 10px !important;

}


.dropdwnall {
  display: flex;
  gap: 30px;
}

.boxCustomised {
  width: 170px;
  height: 60px;
  background: #13357B;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 40px;
}


.boxCustomised a {
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  font-family: "Jost", sans-serif;
}

/* !---------------banner css end ------------------ */


/* !---------------chose css start ------------------ */
#chose {
  margin-top: 200px;
}


.headerText h2 {
  width: 217px;
  font-size: 30px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
  margin-bottom: 5px;
  margin: 0 auto;
}

.headerText p {
  width: 304px;
  font-size: 16px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
  margin-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 100px;
}


.guarenteerext img {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.guarenteerext h2 {
  font-size: 18px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
}

.guarenteerext p {
  font-size: 15px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
  margin-bottom: 30px;
}

.guarenteerext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* !---------------chose css end ------------------ */