/* !---------------custom css start ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}





/* !---------------nav bar css start ------------------ */

.main_menu ul {
  margin-right: 10px;
  gap: 30px;
}

.main_menu ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #0F294D;
  font-family: "Jost", sans-serif;

}

.buutons {
  display: flex;
  gap: 20px;
}


.buutons a {
  width: 170px;
  height: 50px;
  border: 2px solid #13357B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: #13357B;
  font-family: "Jost", sans-serif;
  transition: all linear 0.4s;
  border-radius: 4px;
}

.one {
  color: #13357B;
}

.one:hover {
  background: #13357B;
  color: #FFF;
}

.two:hover {
  background: #13357B;
  color: #FFF;
}

.main_menu {
  margin-top: 30px;
  /* !---------------nav bar css end ------------------ */

}


/* !---------------banner css start ------------------ */
.bannerTextpart h2 {
  font-size: 60px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
  padding-top: 281px;
  margin-bottom: 6px;
}

.bannerTextpart p {
  font-size: 16px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
}




.bannerImage img {
  max-width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-top: 92px;
}


.dropDownOne select {
  border: none;
}

.dropDownOne select option {
  width: 60px;
  font-size: 15px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;

}

.dropDowntwo select {
  border: none;
}


.dropDowntwo select option {
  width: 60px;
  font-size: 15px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;

}


.dropDownThree select {
  border: none;
}

.dropDownThree select option {
  width: 60px;
  font-size: 15px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;
  border: transparent !important;
  border-radius: 10px !important;

}


.dropdwnall {
  display: flex;
  gap: 30px;
}

.boxCustomised {
  width: 170px;
  height: 60px;
  background: #13357B;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 40px;
}


.boxCustomised a {
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  font-family: "Jost", sans-serif;
}

/* !---------------banner css end ------------------ */


/* !---------------chose css start ------------------ */
#chose {
  margin-top: 200px;
}


.headerText h2 {
  width: 217px;
  font-size: 30px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
  margin-bottom: 5px;
  margin: 0 auto;
}

.headerText p {
  width: 304px;
  font-size: 16px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
  margin-bottom: 5px;
  margin: 0 auto;
  margin-bottom: 100px;
}


.guarenteerext img {
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}

.guarenteerext h2 {
  font-size: 18px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
}

.guarenteerext p {
  font-size: 15px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
  margin-bottom: 30px;
}

.guarenteerext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* !---------------chose css end ------------------ */



/* !---------------recommended css start ------------------ */
#reccommended {
  margin-top: 120px;
}


.textpartOne h2 {
  font-size: 30px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
}


.textpartOne p {
  font-size: 16px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
}

.textMore {
  width: 126px;
  height: 50px;
  border-radius: 4px;
  background: #3554d133;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}


.recommendedtext {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.recommendedBox {
  width: 1290px;
  height: 110px;
  background: #FFF;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin-bottom: 30px;
}

.recommendedBox:hover {
  background: #3554d105;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}


.recImg img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-left: 35px;
}

.recText {
  display: flex;
  gap: 25px;
}

.recText1 h2 {
  font-size: 16px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
}


.recText1 p {
  font-size: 15px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
}

.recText2 {
  width: 180px;
  height: 45px;
}


.recText3 h2 {
  font-size: 16px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
}


.recText3 p {
  font-size: 15px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
}

.recText {
  display: flex;
  gap: 25px;
  align-items: center;

}


.doller h2 {
  font-size: 18px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
}


.doller p {
  font-size: 15px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
}


.dollerbutton {
  width: 159px;
  height: 50px;
  border: 2px solid #3554D1;
  descent-override: 4px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: all linear 0.4s;
}

.dollerbutton a {
  font-size: 15px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
}

.dollerbutton:hover {
  background: #3554D1;
  color: #FFFb !important;
}

.RecButton {
  display: flex;
  gap: 25px;
  margin-right: 35px;
}

.teaxtrecpartOne {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

/* !---------------recommended css end ------------------ */

/* !---------------Destinations css start ------------------ */

#Destinations {
  margin-top: 182px;
}




.sliderimgtext img {
  width: 400px;
  height: 350px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.overlay h2 {
  font-size: 26px;
  font-weight: 600;
  color: #000;
  font-family: "Jost", sans-serif;
}


.overlay h3 {
  font-size: 15px;
  font-weight: 400;
  color: #000;
  font-family: "Jost", sans-serif;
}


.sliderimgtext {
  margin-right: 10px;
  border-radius: 30px;
}


/* !---------------Destinations css end ------------------ */

/* !---------------customers css end ------------------ */

#customers {
  background: #13357B;
  height: 558px;
  margin-top: 80px;
}


.customerstextpart1 h2 {
  max-width: 353px;
  font-size: 30px;
  font-weight: 600;
  color: #FFF;
  font-family: "Jost", sans-serif;
  margin-top: 120px;
  color: #FFF;
  margin-bottom: 20px;
}

.customerstextpart1 p {
  max-width: 520px;
  font-size: 16px;
  font-weight: 400;
  color: #FFF !important;
  font-family: "Jost", sans-serif;
  line-height: 30px;
}


.cp1 p {
  font-size: 30px;
  font-weight: 600;
  color: #FFF;
  font-family: "Jost", sans-serif;
}

.cp1 {
  display: flex;
}

.cp1 h3 {
  font-size: 30px;
  font-weight: 600;
  color: #FFF;
  font-family: "Jost", sans-serif;
  margin: 0;
}


.cp2 p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  font-family: "Jost", sans-serif;
}

.cpTwo1 span {
  font-size: 16px;
  font-weight: 400;
  color: #FFF !important;
  font-family: "Jost", sans-serif;
}

.cptwo2 p {
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  font-family: "Jost", sans-serif;
  margin: 0;
}

.cptwo3 a {
  font-size: 10px;
  color: #FFF;
  display: inline-flex;
  gap: 7px;

}

.counterPartBoth {
  display: flex;
  gap: 143px;
  margin-top: 60px;
}

.imagCPartTWo1 img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}

.imagCPartTWoText h3 {
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  font-family: "Jost", sans-serif;
}

.imagCPartTWoText p {
  font-size: 15px;
  font-weight: 400;
  color: #FFF;
  font-family: "Jost", sans-serif;
}


.imagCPartTWo1 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 148px;
  margin-bottom: 30px;
}

.imagCPartTWo p {
  max-width: 630px;
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  font-family: "Jost", sans-serif;
  line-height: 30px;
}

.imagCPartTWo img {
  max-width: 378px;
}



/* !---------------customers css end ------------------ */


/* !---------------Popular css start ------------------ */

#Popular {
  margin-top: 120px;
}

.picslider img {
  width: 400px;
  height: 350px;
  border-radius: 10px;
}


.picandtext h2 {
  font-size: 18px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;
  margin-top: 10px;
}

.picandtext p {
  font-size: 14px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
  margin: 0;
  margin-top: 10px;

}


.freetext p {
  font-size: 14px;
  font-weight: 400;
  color: #697488;
  font-family: "Jost", sans-serif;
  margin-top: 10px;
  margin: 0;
}


.freetext h3 {
  font-size: 16px;
  font-weight: 500;
  color: #051036;
  font-family: "Jost", sans-serif;

}


.freetext {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.slick-arrow {
  border: none;
  margin-bottom: 10px;
  background: transparent;
  color: #000;
  font-stretch: 20px;
}

/* !---------------Popular css end ------------------ */

/* !---------------Download css start ------------------ */

#Download {
  margin-top: 120px;
  background: #779be22c;
  height: 500px;
}

.downloadtextPart h2 {
  max-width: 261px;
  font-size: 30px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding-top: 147px;
  padding-bottom: 17px;

}

.downloadtextPart p {
  max-width: 444px;
  font-size: 16px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;
  margin: 0;
  line-height: 30px;
  padding-bottom: 26px;

}

.downloadpicture img {
  width: 216px;
  height: 60px;
  margin: 0;

}


.downloadpicture {
  display: flex;
  gap: 30px;
}

.downloadImage {
  margin-top: 81px;
}

/* !---------------Download css end ------------------ */


/* !---------------inspiration css start ------------------ */
#inspiration {
  margin-top: 120px;
}


.inspirationText h2 {
  max-width: 459px;
  font-size: 30px;
  font-weight: 600;
  color: #051036;
  font-family: "Jost", sans-serif;
  margin: 0 auto;
}

.inspirationText p {
  font-size: 16px;
  font-weight: 400;
  color: #051036;
  font-family: "Jost", sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 40px;
}


.inspirationImg img {
  border-radius: 10px;
  width: 450px;
  height: 350px;
}

.inspirationImgText h2 {
  max-width: 410px;
  font-size: 18px;
  font-weight: 500;
  color: #051036;
  line-height: 30px;
  margin: 0;
  padding-top: 20px;
  font-family: "Jost", sans-serif;
}


.inspirationImgText p {
  font-size: 15px;
  font-weight: 400;
  color: #697488;
  line-height: 26px;
  font-family: "Jost", sans-serif;
  margin-top: 5px;
}

/* !---------------inspiration css end ------------------ */

/* !---------------footer css start ----------------- */


#footer {
  margin-top: 150px;
  background: #13357B;
  height: 659px;
}

.footerText img {
  width: 143px;
  height: 50px;
  margin-top: 109px;
  margin-bottom: 32px;
}

.footerTextOne p {
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  font-family: "Jost", sans-serif;
  margin-bottom: 11px;
}


.footerTextOne {
  display: flex;
  gap: 118px;
}

.footerTextTwo a {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  font-family: "Jost", sans-serif;
  margin-bottom: 60px;
}

.footerTextTwo {
  display: flex;
  gap: 107px;
}

.updatepp p {
  font-size: 16px;
  font-weight: 500;
  color: #FFF !important;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding-bottom: 13px;
}

.imgF img {
  width: 190px;
  height: 60px;
  margin: 0;
}

.imgF {
  display: flex;
  gap: 20px;
  padding-bottom: 60px;
}

.iconsAll a {
  font-size: 20px;
  color: #FFF;
}

.iconsAll {
 display: flex;
 gap: 37px; 
}































/* !---------------footer css end ------------------ */